* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.box {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.navBar {
  width: 100%;
  height: 75px;
  background: url(../images/Background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.logo {
  width: 50px;
  height: 50px;
  background: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 27px;
  overflow: hidden;
}

.navHome {
  width: 79px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: 24px;
  left: 92%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  text-align: left;
  text-decoration: none;
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0;
}

.navHome:hover,
.navLogout:hover {
  box-shadow: inset 79px 0 0 0 #00ACEA;
  cursor: pointer;
  color: white;
}


.navLogout {
  width: 79px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: 25px;
  left: 92%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  text-align: left;
  text-decoration: none;
  transition: ease-out 0.3s;
  box-shadow: inset 0 0 0 0;
}

.hiUsr {
  width: 400px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 113px;
  left: 93px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}

.popBookmarks {
  width: 322px;
  color: black;
  position: absolute;
  top: 113px;
  right: 280px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;

}

.navBookmarks {
  width: 127px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 24px;
  left: 93px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}

.errors {
  color: #2B678C;
  position: absolute;
  top: 250px;
  left: 94px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
  display: inline;
}


.addTxt {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  font-size: 18px;
  top: 250px;
  left: 94px;
  position: absolute;
  color: black;
}

.addURL {
  position: absolute;
  top: 300px;
  left: 94px;
  color: black;
}

.addName {
  position: absolute;
  top: 350px;
  left: 94px;
  color: black;
}

.addFrmURL {
  width: 300px;
  opacity: 1;
  position: absolute;
  top: 297px;
  left: 140px;
}

.addFrmName {
  width: 255px;
  opacity: 1;
  position: absolute;
  top: 347px;
  left: 185px;
}

.addSubmit {
  opacity: 1;
  position: absolute;
  background: rgba(87, 87, 87, 1);
  top: 400px;
  left: 200px;
  color: white;
  transition: 0.5s;
}

.addSubmit:hover,
.addCancel:hover {
  cursor: pointer;
  background: transparent;
  border: 2px solid rgba(87, 87, 87, 1);
  color: rgba(87, 87, 87, 1);
}

.addCancel {
  opacity: 1;
  position: absolute;
  background: rgba(87, 87, 87, 1);
  top: 400px;
  left: 300px;
  color: white;
  transition: 0.5s;
}

.searchSubmit {
  opacity: 1;
  position: absolute;
  background: rgba(87, 87, 87, 1);
  top: 280px;
  left: 450px;
  color: white;
}

.displayName {
  color: rgba(87, 87, 87, 1);
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  top: 30px;
  left: 40px;
  font-size: 18px;
  padding-right: 70px;

}

.bookmarkIDS {
  color: rgba(87, 87, 87, 1);
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  top: 30px;
  left: 75px;
  padding-right: 70px;
  font-size: 18px;
}

.visits {
  color: rgba(87, 87, 87, 1);
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  top: 30px;
  left: 120px;
  font-size: 18px;

}

.bookmarks {
  color: black;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  left: 265px;
  font-size: 18px;
  text-align: left;
}

.pickView {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  font-size: 18px;
  position: relative;
  left: 165px;
  bottom: 50px;
  text-align: center;
}


.popDisplayName {
  color: rgba(87, 87, 87, 1);
  position: absolute;
  top: 200px;
  right: 103px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  font-size: 18px;
  text-align: right;

}

.btnAdd {
  width: 155px;
  height: 51px;
  background: rgba(87, 87, 87, 1);
  opacity: 1;
  position: relative;
  top: 20px;
  left: 93px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-right: 5px;
  overflow: hidden;
  color: white;
}


.btnDelete {
  width: 155px;
  height: 51px;
  background: rgba(87, 87, 87, 1);
  opacity: 1;
  position: relative;
  top: 20px;
  left: 135px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  color: white;
}

.btnAdd:hover,
.btnDelete:hover {
  background-color: #ccc;
  color: black;
}


.btnAdd.active,
.btnDelete.active {
  background-color: #2B678C;
  color: white;
}

.func {
  height: auto;
  position: absolute;
  top: 147px;
}

.funccontent {
  display: none;
}

.tablinks {
  background-color: #ccc;
  margin-bottom: 20px;

}

.tab {
  float: left;
  border: none;
  width: 450px;
  height: auto;
  position: absolute;
  top: 155px;
  left: 1300px;
}

.tab button {
  background-color: #ddd;
  ;
  float: left;
  color: black;
  padding: 22px 16px;
  width: 100%;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 2px solid black;
}

.tab button:hover {
  background-color: #ccc;

}

.tab button.active {
  background-color: #2B678C;
  color: white;
}

.tabcontent {
  display: none;
  height: 50%;
  width: 600px;
  padding: 6px 12px;
  position: relative;
  top: 75px;
  left: 550px;
  border: none;
  border-top: none;
}


#ol {
  position: relative;
  height: 100%;
  width: 600px;
  top: 40px;
  overflow: hidden;
  overflow-y: scroll;
}

#ol-pop {
  position: relative;
  height: 100%;
  width: 600px;
  top: 40px;
  overflow: hidden;
  overflow-y: scroll;
}

.ui-menu-item {
  display: none;
}

.popularol {
  list-style-position: outside;
  width: 470px;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 230px;
  right: 53px;
}

li {
  list-style-type: none;
  margin-bottom: 20px;
}


.bookmarkList {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  font-size: 18px;
  color: #2B678C;
  text-decoration-line: none;
  text-decoration-color: black;
  margin-bottom: 50px;
  margin-top: 50px;

}

.popbookmarkList {
  width: 400px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  font-size: 18px;
  color: #2B678C;
  text-decoration-line: none;
  text-decoration-color: black;

}

.bookmarkID {
  font-family: Arial, Helvetica, sans-serif;
  left: 225px;
  color: rgba(87, 87, 87, 1);
  position: absolute;
  padding-left: 75px;

}

.numbVisits {
  font-family: Arial, Helvetica, sans-serif;
  left: 425px;
  color: rgba(87, 87, 87, 1);
  position: absolute;
  padding-left: 100px;

}


.inputSearch {
  width: 550px;
  left: 51px;
  background: transparent;
  opacity: 1;
  position: absolute;
  border: none;
  border-bottom: 2px solid rgba(87, 87, 87, 1);
}

.footerBack {
  width: 100%;
  height: 23px;
  background: url(../images/Background.png);
  opacity: 1;
  position: fixed;
  bottom: 0px;
}

.footerTxt {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  color: rgba(225, 225, 225, 1);
}