* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  
}
.box {
  width: 100%;
  height: 776px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.navBar {
  width: 100%;
  height: 75px;
  background: url(../images/Background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.logo {
  width: 50px;
  height: 50px;
  background: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 27px;
  overflow: hidden;
}
.bookmarks {
	width: 127px;
	color: rgba(255,255,255,1);
	position: absolute;
	top: 24px;
	left: 91px;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	opacity: 1;
	text-align: left;
	text-decoration: none;
  }
  .navHome {
    width: 79px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 24px;
    left: 92%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    text-align: left;
    text-decoration: none;
	transition: ease-out 0.3s;
	box-shadow: inset 0 0 0 0;
  }

  .navHome:hover, .navLogin:hover {
	box-shadow: inset 79px 0 0 0 #00ACEA;
	cursor: pointer;
	color: white;
  }


  .navLogin {
    width: 79px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 25px;
    left: 92%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
    text-align: left;
    text-decoration: none;
	transition: ease-out 0.3s;
	box-shadow: inset 0 0 0 0;
  }
.welcomeTxt {
  width: 405px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 145px;
  left: 77px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.errors {
    color: red;
    position: absolute;
    top: 200px;
    left: 81px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}


.username {
  width: 96px;
  color: rgba(87,87,87,1);
  position: absolute;
  top: 235px;
  left: 81px;
	font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}

.inputUsername {
  width: 401px;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: 305px;
  left: 81px;
  border: none;
  border-bottom: 2px solid rgba(87,87,87,1);
}
.inputPassword {
  width: 401px;
  background: transparent;
  opacity: 1;
  position: absolute;
  top: 425px;
  left: 81px;
  border: none;
  border-bottom: 2px solid rgba(87,87,87,1);
}

.password {
  width: 96px;
  color: rgba(87,87,87,1);
  position: absolute;
  top: 360px;
  left: 81px;
	font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}

.submit {
  color: white;
  font-size: 18px;
  width: 155px;
  height: 51px;
  background: rgba(87,87,87,1);
  opacity: 1;
  position: absolute;
  top: 497px;
  left: 202px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  overflow: hidden;
  transition: 0.5s;
}

.submit:hover {
  background: transparent;
  border: 2px solid #2B678C;
  color: #2B678C;
  margin-top: 5px;
  cursor: pointer;
}

.workBack {
  width: 604px;
  height: 597px;
  background: url(../images/Background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: fixed;
  top: 105px;
  left: 63%;
  overflow: hidden;
}
.workHead {
  width: 578px;
  color: rgba(255,255,255,1);
  position: fixed;
  top: 145px;
  left: 1150px;
	font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  left: 70%; 
  text-align: left;
}
.workTxt {
  width: 406px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 225px;
  left: 1120px;
	font-family: Arial, Helvetica, sans-serif;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  left: 67%;
  text-align: left;
}

li {
  margin-bottom: 50px;
}

.footerBack {
  width: 100%;
  height: 23px;
  background: url(../images/Background.png);
  opacity: 1;
  position: fixed;
  bottom: 0px;
}
.footerTxt {
	width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
	text-align: center;
	color: rgba(225,225,225,1);
}

